apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    app: flowsnake-strata-test-agent
    apptype: testing
    flowsnakeOwner: dva-transform
    flowsnakeRole: StrataTestAgent
  name: strata-test-agent
  namespace: flowsnake-ci-tests
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flowsnake-strata-test-agent
      apptype: testing
      flowsnakeOwner: dva-transform
      flowsnakeRole: StrataTestAgent
  template:
    metadata:
      annotations:
        sfdc.net/disable-madkub: "true"
      labels:
        app: flowsnake-strata-test-agent
        apptype: testing
        flowsnakeOwner: dva-transform
        flowsnakeRole: StrataTestAgent
    spec:
      automountServiceAccountToken: true
      containers:
      - command:
        - /usr/bin/env
        - python
        - /scripts/strata-test-agent.py
        env:
        - name: POLL_INTERVAL_SEC
          value: "60"
        image: ops0-artifactrepo2-0-prd.data.sfdc.net/dva/sfdc_centos7_jdk8:33
        name: agent
        resources:
          requests:
            cpu: 50m
            memory: 1Mi
        volumeMounts:
        - mountPath: /certs/ca
          name: host-cacerts
          readOnly: true
        - mountPath: /scripts
          name: agent-scripts
          readOnly: true
      - command:
        - /usr/bin/env
        - python
        - /scripts/strata-test-janitor.py
        env:
        - name: POLL_INTERVAL_MIN
          value: "30"
        - name: MAX_AGE_MIN
          value: "180"
        image: ops0-artifactrepo2-0-prd.data.sfdc.net/dva/sfdc_centos7_jdk8:33
        name: janitor
        resources:
          requests:
            cpu: 50m
            memory: 1Mi
        volumeMounts:
        - mountPath: /certs/ca
          name: host-cacerts
          readOnly: true
        - mountPath: /scripts
          name: agent-scripts
          readOnly: true
      restartPolicy: Always
      serviceAccountName: spark-driver-flowsnake-ci-tests
      volumes:
      - hostPath:
          path: /etc/pki_service/ca
        name: host-cacerts
      - configMap:
          name: strata-test-agent-scripts
          optional: false
        name: agent-scripts
