apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    manifestctl.sam.data.sfdc.net/swagger: disable
  name: istio-pilot
  namespace: mesh-control-plane
spec:
  selector:
    matchLabels:
      app: pilot
  template:
    metadata:
      labels:
        name: istio-pilot
    spec:
      containers:
      - env:
        - name: ESTATE
          value: mcpIstioConfig.istioEstate
        - name: PILOT_SIDECAR_USE_REMOTE_ADDRESS
          value: "true"
        - name: PILOT_ENABLE_REDIS_FILTER
          value: "true"
        - name: PILOT_DEBOUNCE_AFTER
          value: "1m"
        - name: PILOT_DEBOUNCE_MAX
          value: "3m"
        name: discovery
        ports:
        - containerPort: 15011
        volumeMounts:
        - $patch: delete
          mountPath: /etc/certs
      - args:
        - --debug-mode
        - "true"
        env:
        - name: FUNCTION_NAMESPACE
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: metadata.namespace
        - name: SETTINGS_SUPERPOD
          value: mcpIstioConfig.superpod
        - name: SETTINGS_PATH
          value: mcpIstioConfig.pilotSettingsPath
        - name: SFDC_METRICS_SERVICE_HOST
          value: mcpIstioConfig.funnelHost
        - name: SFDC_METRICS_SERVICE_PORT
          value: mcpIstioConfig.funnelPort
        - name: ESTATE
          value: mcpIstioConfig.istioEstate
        image: mcpIstioConfig.metricsScraperImage
        imagePullPolicy: Always
        name: metrics-scraper
        readinessProbe:
          exec:
            command:
            - /bin/true
          initialDelaySeconds: 5
          periodSeconds: 30
          timeoutSeconds: 5
      - $patch: delete
        name: istio-proxy
      nodeSelector:
        pool: mcpIstioConfig.istioEstate
      volumes:
      - $patch: delete
        name: istio-certs