apiVersion: apps/v1
kind: Deployment
metadata:
  name: istio-pilot
  namespace: mesh-control-plane
spec:
  selector:
    matchLabels:
      app: pilot
  template:
    metadata:
      labels:
        name: istio-pilot
    spec:
      containers:
      - args:
        - discovery
        - --monitoringAddr=:15014
        - --domain
        - cluster.local
        - --secureGrpcAddr
        - ""
        - --keepaliveMaxServerConnectionAge
        - 30m
        - --log_output_level
        - info
        env:
        - name: ESTATE
          value: mcpIstioConfig.istioEstate
        image: mcpIstioConfig.pilotImage
        name: discovery
        ports:
        - containerPort: 15011
        volumeMounts:
        - $patch: delete
          mountPath: /etc/certs
      - args:
        - --debug-mode
        - "true"
        env:
        - name: FUNCTION_NAMESPACE
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: metadata.namespace
        - name: SETTINGS_SUPERPOD
          value: mcpIstioConfig.superpod
        - name: SETTINGS_PATH
          value: mcpIstioConfig.settingsPath
        - name: SFDC_METRICS_SERVICE_HOST
          value: mcpIstioConfig.funnelHost
        - name: SFDC_METRICS_SERVICE_PORT
          value: mcpIstioConfig.funnelPort
        - name: ESTATE
          value: mcpIstioConfig.istioEstate
        image: mcpIstioConfig.metricsScraperImage
        imagePullPolicy: Always
        name: metrics-scraper
        readinessProbe:
          exec:
            command:
            - /bin/true
          initialDelaySeconds: 5
          periodSeconds: 30
          timeoutSeconds: 5
      - $patch: delete
        name: istio-proxy
      nodeSelector:
        pool: mcpIstioConfig.istioEstate
      volumes:
      - $patch: delete
        name: istio-certs