apiVersion: v1
data:
  3.4.9-zkGenConfig.json: |-
    {
      "persistentVolumeClaim": {
        "metadata": {
          "name": "zookeeper"
        },
        "spec": {
          "accessModes": [
            "ReadWriteOnce"
          ],
          "resources": {
            "requests": {
              "storage": "2Gi"
            }
          },
          "storageClassName": "ssd"
        }
      },
      "podConfig": {
        "containers": [
          {
            "args": [],
            "command": [
              "sh",
              "-c",
              "sleep 60000"
            ],
            "env": [
              {
                "name": "ZK_LOG_DIR",
                "value": "/var/log/zk"
              },
              {
                "name": "ZK_POD_NAME",
                "valueFrom": {
                  "fieldRef": {
                    "fieldPath": "metadata.name"
                  }
                }
              }
            ],
            "image": "ops0-artifactrepo2-0-prd.data.sfdc.net/docker-release-candidate/tnrp/storagecloud/zookeeper:latest-0000006-9f49608c",
            "imagePullPolicy": "Always",
            "livenessProbe": {
              "exec": {
                "command": [
                  "sh",
                  "-c",
                  "exit 0"
                ]
              },
              "initialDelaySeconds": 15,
              "timeoutSeconds": 5
            },
            "name": "zookeeper",
            "ports": [
              {
                "containerPort": 2181,
                "name": "client"
              },
              {
                "containerPort": 2888,
                "name": "server"
              },
              {
                "containerPort": 3888,
                "name": "leader-election"
              }
            ],
            "readinessProbe": {
              "exec": {
                "command": [
                  "sh",
                  "-c",
                  "exit 0"
                ]
              },
              "initialDelaySeconds": 15,
              "timeoutSeconds": 5
            },
            "volumeMounts": [
              {
                "mountPath": "/opt/zookeeper/var",
                "name": "zookeeper"
              },
              {
                "mountPath": "/var/log",
                "name": "container-log-vol"
              },
              {
                "mountPath": "/var/log-mounted",
                "name": "host-log-vol"
              }
            ]
          }
        ],
        "initContainers": [
          {
            "command": [
              "sh",
              "-c",
              "/entrypoint.sh -container 7447 zk"
            ],
            "env": [
              {
                "name": "KUBEVAR_POD_NAME",
                "valueFrom": {
                  "fieldRef": {
                    "fieldPath": "metadata.name"
                  }
                }
              },
              {
                "name": "KUBEVAR_POD_NAMESPACE",
                "valueFrom": {
                  "fieldRef": {
                    "fieldPath": "metadata.namespace"
                  }
                }
              }
            ],
            "image": "ops0-artifactrepo2-0-prd.data.sfdc.net/docker-release-candidate/tnrp/storagecloud/loginitcontainer:base-0000449-e953964e",
            "name": "log-init",
            "securityContext": {
              "privileged": true
            },
            "volumeMounts": [
              {
                "mountPath": "/var/log",
                "name": "container-log-vol"
              },
              {
                "mountPath": "/var/log-mounted",
                "name": "host-log-vol"
              }
            ]
          }
        ],
        "securityContext": {
          "fsGroup": 7447
        },
        "volumes": [
          {
            "emptyDir": {},
            "name": "container-log-vol"
          },
          {
            "hostPath": {
              "path": "/var/log"
            },
            "name": "host-log-vol"
          }
        ]
      },
      "version": "3.4.9"
    }
  3.4.9.json: |-
    {
      "persistentVolumeClaim": {
        "metadata": {
          "name": "zookeeper"
        },
        "spec": {
          "accessModes": [
            "ReadWriteOnce"
          ],
          "resources": {
            "requests": {
              "storage": "2Gi"
            }
          },
          "storageClassName": "ssd"
        }
      },
      "podConfig": {
        "containers": [
          {
            "args": [],
            "command": [
              "sh",
              "-c",
              "/opt/zookeeper/bin/zkGenConfig.sh \u0026\u0026 /opt/zookeeper/bin/zkServer.sh start-foreground"
            ],
            "env": [
              {
                "name": "ZK_LOG_DIR",
                "value": "/var/log/zk"
              },
              {
                "name": "ZK_POD_NAME",
                "valueFrom": {
                  "fieldRef": {
                    "fieldPath": "metadata.name"
                  }
                }
              }
            ],
            "image": "ops0-artifactrepo2-0-prd.data.sfdc.net/docker-release-candidate/tnrp/storagecloud/zookeeper:latest-0000006-9f49608c",
            "imagePullPolicy": "Always",
            "livenessProbe": {
              "exec": {
                "command": [
                  "/opt/zookeeper/bin/zkOk.sh"
                ]
              },
              "initialDelaySeconds": 15,
              "timeoutSeconds": 5
            },
            "name": "zookeeper",
            "ports": [
              {
                "containerPort": 2181,
                "name": "client"
              },
              {
                "containerPort": 2888,
                "name": "server"
              },
              {
                "containerPort": 3888,
                "name": "leader-election"
              }
            ],
            "readinessProbe": {
              "exec": {
                "command": [
                  "/opt/zookeeper/bin/zkOk.sh"
                ]
              },
              "initialDelaySeconds": 15,
              "timeoutSeconds": 5
            },
            "volumeMounts": [
              {
                "mountPath": "/opt/zookeeper/var",
                "name": "zookeeper"
              },
              {
                "mountPath": "/var/log",
                "name": "container-log-vol"
              },
              {
                "mountPath": "/var/log-mounted",
                "name": "host-log-vol"
              }
            ]
          },
          {
            "args": [
              "-j",
              "zookeeper"
            ],
            "command": [
              "/bin/bash",
              "/opt/sfms/bin/sfms"
            ],
            "env": [
              {
                "name": "SFDC_FUNNEL_VIP",
                "value": "ajna0-funnel1-0-prd.data.sfdc.net:80"
              },
              {
                "name": "MC_KINGDOM",
                "value": "prd"
              },
              {
                "name": "MC_ESTATE",
                "value": "prd-sam_storagedev"
              },
              {
                "name": "MC_NAME",
                "value": "zookeeper"
              },
              {
                "name": "MC_NAMESPACE",
                "valueFrom": {
                  "fieldRef": {
                    "fieldPath": "metadata.namespace"
                  }
                }
              },
              {
                "name": "MC_NODE",
                "valueFrom": {
                  "fieldRef": {
                    "fieldPath": "spec.nodeName"
                  }
                }
              },
              {
                "name": "MC_DEVICE",
                "valueFrom": {
                  "fieldRef": {
                    "fieldPath": "metadata.name"
                  }
                }
              }
            ],
            "image": "ops0-artifactrepo2-0-prd.data.sfdc.net/docker-release-candidate/tnrp/storagecloud/sfms:latest-0000186-c6ab91f6",
            "imagePullPolicy": "Always",
            "name": "sfms"
          }
        ],
        "initContainers": [
          {
            "command": [
              "sh",
              "-c",
              "/entrypoint.sh -container 7447 zk"
            ],
            "env": [
              {
                "name": "KUBEVAR_POD_NAME",
                "valueFrom": {
                  "fieldRef": {
                    "fieldPath": "metadata.name"
                  }
                }
              },
              {
                "name": "KUBEVAR_POD_NAMESPACE",
                "valueFrom": {
                  "fieldRef": {
                    "fieldPath": "metadata.namespace"
                  }
                }
              }
            ],
            "image": "ops0-artifactrepo2-0-prd.data.sfdc.net/docker-release-candidate/tnrp/storagecloud/loginitcontainer:base-0000449-e953964e",
            "name": "log-init",
            "securityContext": {
              "privileged": true
            },
            "volumeMounts": [
              {
                "mountPath": "/var/log",
                "name": "container-log-vol"
              },
              {
                "mountPath": "/var/log-mounted",
                "name": "host-log-vol"
              }
            ]
          }
        ],
        "securityContext": {
          "fsGroup": 7447
        },
        "volumes": [
          {
            "emptyDir": {},
            "name": "container-log-vol"
          },
          {
            "hostPath": {
              "path": "/var/log"
            },
            "name": "host-log-vol"
          }
        ]
      },
      "version": "3.4.9"
    }
kind: ConfigMap
metadata:
  creationTimestamp: null
  name: zookeeper-configmap
  namespace: sam-system
