apiVersion: v1
data:
  prometheus.json: |-
    {
      "global": {
        "evaluation_interval": "15s",
        "scrape_interval": "15s",
        "scrape_timeout": "10s"
      },
      "scrape_configs": [
        {
          "job_name": "sloop",
          "metrics_path": "/metrics",
          "scheme": "http",
          "static_configs": [
            {
              "targets": [
                "localhost:8080"
              ]
            }
          ]
        }
      ]
    }
  sloop.yaml: |
    defaultNamespace: "csc-sam"
    defaultKind: "Pod"
    defaultLookback: "1h"
    leftBarLinks:
      - text: "Source Code"
        urlTemplate: "https://git.soma.salesforce.com/sam/sloop"
      - text: "Prometheus"
        urlTemplate: "http://sloop.sam-system.prd-sam.prd.slb.sfdc.net:9090/"
      - text: "Chatter"
        urlTemplate: "https://gus.lightning.force.com/lightning/r/CollaborationGroup/0F9B0000000TWo3KAG/view"
    resourceLinks:
      - text: "kubeDashboard"
        urlTemplate: "http://dashboard-prd-sam.csc-sam.prd-sam.prd.slb.sfdc.net/#!/{{.Kind | ToLower}}{{if (ne .Namespace \"\")}}/{{.Namespace}}{{end}}/{{.Name}}?namespace={{.Namespace}}"
      - text: "Pod Logs (Splunk)"
        urlTemplate: "https://splunk-web.crz.salesforce.com/en-US/app/search/search?earliest=-60m&latest=now&q=search%20%60from_index_microapps%60%20%28kubernetes-container%3Anamespace%3D{{.Namespace}}%29%20%28rsyslog-base%3Adc%3Dprd%29%20%28kubernetes-container%3Apod%3D{{.Name}}%29%20%7C%20table%20_time%2C%20message%20%7C%20sort%20-%20_time;"
        kinds:
          - "Pod"
      - text: "Deployment Availability Pct (Argus)"
        urlTemplate: "https://argus-ui.data.sfdc.net/argus/#/viewmetrics?expression=-24h:sam.PRD.NONE.*:deployment.AvailabilityPct%7BNamespace%2FDeploymentName%3D{{.Namespace}}%2F{{.Name}}%7D:avg:5m-avg"
        kinds:
          - "Deployment"
      - text: "Node Uptime (Argus)"
        urlTemplate: "https://argus-ui.data.sfdc.net/argus/#/viewmetrics?expression=-24h:system.PRD.NONE.*:uptime.uptime%7Bdevice%3D{{.Name}}%7D:avg:5m-avg"
        kinds:
          - "Node"
      - text: "Node Kubelet Uptime (Argus)"
        urlTemplate: "https://argus-ui.data.sfdc.net/argus/#/viewmetrics?expression=-24h:sam.watchdog.PRD.NONE.*:age.kubelet%7Bdevice%3D{{.Name}}%7D:avg:5m-avg"
        kinds:
          - "Node"
      - text: "Node Idle CPU (Argus)"
        urlTemplate: "https://argus-ui.data.sfdc.net/argus/#/viewmetrics?expression=-24h:system.PRD.NONE.*:CpuPerc.cpu.idle%7Bdevice%3D{{.Name}}%7D:avg:1m-avg"
        kinds:
          - "Node"
      - text: "Node Memory Used (Argus)"
        urlTemplate: "https://argus-ui.data.sfdc.net/argus/#/viewmetrics?expression=-24h:system.PRD.NONE.*:memory.memory.used%7Bdevice%3D{{.Name}}%7D:avg:1m-avg"
        kinds:
          - "Node"
      - text: "Node Puppet ConfigVersion (Argus)"
        urlTemplate: "https://argus-ui.data.sfdc.net/argus/#/viewmetrics?expression=-24h:sam.watchdog.PRD.NONE.*:puppet.configVersion%7Bdevice%3D{{.Name}}%7D:avg:1m-avg"
        kinds:
          - "Node"
kind: ConfigMap
metadata:
  creationTimestamp: null
  labels:
    sam.data.sfdc.net/owner: sam
  name: sloop
  namespace: sam-system
