apiVersion: v1
data:
  watchdog.json: |-
    {
      "KubeletErrorCheckerEnabled": true,
      "KubeletErrorCheckerFrequency": "20s",
      "KubeletErrorPerSecond": 1,
      "caFile": "/etc/pki_service/ca/cabundle.pem",
      "certFile": "/etc/pki_service/platform/platform-client/certificates/platform-client.pem",
      "deleteSyntheticDeployment": false,
      "deployer-funnelEndpoint": "ajna0-funnel1-0-prd.data.sfdc.net:80",
      "deployer-imageName": "ops0-artifactrepo2-0-prd.data.sfdc.net/docker-dva-rc/dva/sam/hypersam:2602-0417c093b85ccd37fe355a4c840b952c4544d441",
      "deployer-rcImtEndpoint": "https://reportcollector-prd.data.sfdc.net:18443/v1/bark",
      "deployer-recipient": "sam-test-alerts@salesforce.com",
      "deployer-sender": "sam-test-alerts@salesforce.com",
      "deployer-smtpServer": "smtpops-prd-sp1.data.sfdc.net:25",
      "deploymentNamespacePrefixWhitelist": "sam-system",
      "email-subject-prefix": "SAMWD",
      "enableK4aChecks": true,
      "enableMaddogCertChecks": true,
      "enableStatefulChecks": false,
      "enableStatefulPVChecks": false,
      "filesystemCheckDirs": [
        "/data/",
        "/data/logs/sdn/",
        "/data/slb/logs/",
        "/home/sfdc/"
      ],
      "filesystemRecursiveCheck": true,
      "filesystemRecursiveCheckDirs": [
        "/data/",
        "/home/"
      ],
      "funnelEndpoint": "ajna0-funnel1-0-prd.data.sfdc.net:80",
      "imageName": "ops0-artifactrepo2-0-prd.data.sfdc.net/docker-dva-rc/dva/sam/hypersam:2602-0417c093b85ccd37fe355a4c840b952c4544d441",
      "k8sproxyEndpoint": "http://localhost:40000",
      "keyFile": "/etc/pki_service/platform/platform-client/keys/platform-client-key.pem",
      "kubeResourceNamespacePrefixBlacklist": "sam-watchdog",
      "kubeResourceNamespacePrefixWhitelist": "sam-system,csc-sam",
      "laddr": "0.0.0.0:8063",
      "m_tnrpEndpoint": "https://ops0-piperepo1-0-prd.data.sfdc.net/",
      "maddogCommonCerts": [
        "/etc/pki_service/kubernetes/k8s-server/certificates/k8s-server.pem",
        "/etc/pki_service/kubernetes/k8s-client/certificates/k8s-client.pem",
        "/etc/pki_service/etcd/etcd-client/certificates/etcd-client.pem",
        "/etc/pki_service/platform/platform-client/certificates/platform-client.pem",
        "/etc/pki_service/root/madkubtokenserver/certificates/madkubtokenserver.pem"
      ],
      "maddogEtcdCerts": [
        "/etc/pki_service/etcd/etcd-server/certificates/etcd-server.pem",
        "/etc/pki_service/etcd/etcd-peer/certificates/etcd-peer.pem"
      ],
      "maddogServerCAPath": "/etc/pki_service/ca/security-ca.pem",
      "maxPVCAge": "15m",
      "maxUptimeSampleSize": 5,
      "maxdeploymentduration": "15m",
      "monitoredProcesses": {
        "docker-containerd.*docker-bootstrap": "age.dockercontainerdbootstrap",
        "docker-containerd.*docker-containerd.sock": "age.dockercontainerd",
        "dockerd.*docker-bootstrap": "age.dockerbootstrap",
        "dockerd.*docker.sock": "age.dockermain",
        "hyperkube.*apiserver": "age.kubeapiserver",
        "hyperkube.*controller-manager": "age.kubecontrollermanager",
        "hyperkube.*kubelet": "age.kubelet",
        "hyperkube.*proxy": "age.kubeproxy",
        "hyperkube.*scheduler": "age.kubescheduler",
        "name=etcd": "age.etcd"
      },
      "publishToWatchDogCrd": true,
      "rcImtEndpoint": "https://reportcollector-prd.data.sfdc.net:18443/v1/bark",
      "recipient": "sam-test-alerts@salesforce.com",
      "sdpEndpoint": "http://sdp.sam-system.prd-sam.prd.slb.sfdc.net:64121",
      "sender": "sam-test-alerts@salesforce.com",
      "smtpServer": "smtpops-prd-sp1.data.sfdc.net:25",
      "snooze": [
        {
          "checker": "rbacChecker",
          "instanceRegex": "-frf.ops.sfdc.net$",
          "until": "2018/06/12"
        },
        {
          "checker": "syntheticChecker",
          "estates": [
            "lo2-sam",
            "lo3-sam"
          ],
          "until": "2019/01/07"
        }
      ],
      "storageClassName": "synthetic-hdd-pool",
      "syntheticPVRetrytimeout": "15m",
      "syntheticretrytimeout": "15m",
      "tlsEnabled": true,
      "universalProcesses": [
        "dockerd.*docker-bootstrap",
        "dockerd.*docker.sock",
        "docker-containerd.*docker-containerd.sock",
        "docker-containerd.*docker-bootstrap",
        "hyperkube.*kubelet"
      ],
      "whiteListNamespaceRegexp": [
        "^[^.]+"
      ]
    }
kind: ConfigMap
metadata:
  creationTimestamp: null
  labels:
    sam.data.sfdc.net/owner: sam
  name: watchdog
  namespace: sam-system
