---
# Source: istio/charts/pilot/templates/deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: istio-pilot
  namespace: mesh-control-plane
  # TODO: default template doesn't have this, which one is right ?
  labels:
    app: pilot
    chart: pilot
    heritage: Helm
    release: istio
    istio: pilot
spec:
  replicas: 3
  strategy:
    rollingUpdate:
      maxSurge: 100%
      maxUnavailable: 25%
  selector:
    matchLabels:
      istio: pilot
  template:
    metadata:
      labels:
        app: pilot
        chart: pilot
        heritage: Helm
        release: istio
        istio: pilot
      annotations:
        sidecar.istio.io/inject: "false"
    spec:
      securityContext:
        fsGroup: 7447
        runAsNonRoot: true
        runAsUser: 7447
      serviceAccountName: istio-pilot-service-account
      automountServiceAccountToken: true
      containers:
        - name: discovery
          image: "%(istioHub)s/pilot:aa56850ad9a1bc39fc8583dcd4eda1d6720a724d"
          imagePullPolicy: Always
          args:
          - "discovery"
          - --registries=Kubernetes
          - --monitoringAddr=:15014
          - --log_output_level=default:warn
          - --domain
          - cluster.local
          - --secureGrpcAddr
          - ""
          - --keepaliveMaxServerConnectionAge
          - "30m"
          ports:
          - containerPort: 8080
          - containerPort: 15010
          readinessProbe:
            httpGet:
              path: /ready
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 5
          env:
          - name: POD_NAME
            valueFrom:
              fieldRef:
                apiVersion: v1
                fieldPath: metadata.name
          - name: POD_NAMESPACE
            valueFrom:
              fieldRef:
                apiVersion: v1
                fieldPath: metadata.namespace
          - name: ESTATE
            value: "updated_by_firebom"
          - name: PILOT_ENABLE_CRD_VALIDATION
            value: "true"
          - name: PILOT_ENABLE_REDIS_FILTER
            value: "true"
          - name: PILOT_PUSH_THROTTLE
            value: "100"
          - name: PILOT_SIDECAR_USE_REMOTE_ADDRESS
            value: "true"
          - name: SETTINGS_PATH
            value: "updated_by_firebom"
          - name: SETTINGS_SUPERPOD
            value: "-"
          - name: PILOT_TRACE_SAMPLING
            value: "1"
          - name: PILOT_ENABLE_PROTOCOL_SNIFFING_FOR_OUTBOUND
            value: "false"
          - name: PILOT_ENABLE_PROTOCOL_SNIFFING_FOR_INBOUND
            value: "false"
          resources:
            limits:
              cpu: 2000m
              memory: 4096Mi
            requests:
              cpu: 500m
              memory: 2048Mi
          volumeMounts:
          - name: config-volume
            mountPath: /etc/istio/config
        - name: istio-proxy
          image: "%(istioHub)s/proxy:aa56850ad9a1bc39fc8583dcd4eda1d6720a724d"
          imagePullPolicy: Always
          ports:
          - containerPort: 15003
          - containerPort: 15005
          - containerPort: 15007
          - containerPort: 15011
          args:
          - proxy
          - --domain
          - $(POD_NAMESPACE).svc.cluster.local
          - --serviceCluster
          - istio-pilot
          - --templateFile
          - /etc/istio/proxy/envoy_pilot.yaml.tmpl
          - --controlPlaneAuthPolicy
          - MUTUAL_TLS
          - --proxyLogLevel=info
          - --log_output_level=default:warn
          - --envoyMetricsService
          - '{"address":"switchboard.service-mesh:15001","tlsSettings":{"caCertificates":"/client-certs/ca.pem","clientCertificate":"/client-certs/client/certificates/client.pem","mode":"MUTUAL","privateKey":"/client-certs/client/keys/client-key.pem","sni":null,"subjectAltNames":[]},"tcpKeepalive":{"interval":"10s","probes":3,"time":"10s"}}'
          env:
          - name: POD_NAME
            valueFrom:
              fieldRef:
                apiVersion: v1
                fieldPath: metadata.name
          - name: POD_NAMESPACE
            valueFrom:
              fieldRef:
                apiVersion: v1
                fieldPath: metadata.namespace
          - name: INSTANCE_IP
            valueFrom:
              fieldRef:
                apiVersion: v1
                fieldPath: status.podIP
          - name: ESTATE
            value: "updated_by_firebom"
          - name: ISTIO_METAJSON_METRICS_INCLUSIONS
            value: "{\"sidecar.istio.io/statsInclusionPrefixes\": \"access_log_file,cluster,cluster_manager,control_plane,http,http2,http_mixer_filter,listener,listener_manager,redis,runtime,server,stats,tcp,tcp_mixer_filter,tracing\"}"
          - name: ISTIO_META_TLS_CLIENT_CERT_CHAIN
            value: "/etc/identity/client/certificates/client.pem"
          - name: ISTIO_META_TLS_CLIENT_KEY
            value: "/etc/identity/client/keys/client-key.pem"
          - name: ISTIO_META_TLS_CLIENT_ROOT_CERT
            value: "/etc/identity/ca/cacerts.pem"
          - name: ISTIO_META_TLS_SERVER_CERT_CHAIN
            value: "/etc/identity/server/certificates/server.pem"
          - name: ISTIO_META_TLS_SERVER_KEY
            value: "/etc/identity/server/keys/server-key.pem"
          - name: ISTIO_META_TLS_SERVER_ROOT_CERT
            value: "/etc/identity/ca/cacerts.pem"
          - name: KINGDOM
            value: "updated_by_firebom"
          - name: SDS_ENABLED
            value: "false"
          - name: ENVOY_METRICS_SERVICE_ADDRESS
            value: "switchboard.service-mesh"
          - name: ENVOY_METRICS_SERVICE_PORT
            value: "15001"
          resources:
            limits:
              cpu: 2000m
              memory: 1024Mi
            requests:
              cpu: 100m
              memory: 128Mi
          volumeMounts:
          securityContext:
            runAsUser: 1337
        - 
          name: metrics-scraper
          args:
            - --endpoint
            - http://127.0.0.1:15014/metrics
            - --debug-mode
            - "true"
            - --funnel-address
            - ajnafunneldirecttls.funnel.svc.mesh.sfdc.net:7442
            - --alt-tags
            - cluster=svccluster
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.name
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.namespace # Copy primary container's env values.
            - name: ESTATE
              value: "updated_by_firebom"
            - name: PILOT_ENABLE_CRD_VALIDATION
              value: "true"
            - name: PILOT_ENABLE_REDIS_FILTER
              value: "true"
            - name: PILOT_PUSH_THROTTLE
              value: "100"
            - name: PILOT_SIDECAR_USE_REMOTE_ADDRESS
              value: "true"
            - name: SETTINGS_PATH
              value: "updated_by_firebom"
            - name: SETTINGS_SUPERPOD
              value: "-"
          image: 791719295754.dkr.ecr.us-east-2.amazonaws.com/sfci/servicemesh/servicemesh/metrics-scraper:f210d5ff0f01b8a28a5d6bb2943220b3fdb3223b
          imagePullPolicy: Always
          readinessProbe:
            exec:
              command:
                - /bin/true
            initialDelaySeconds: 5
            periodSeconds: 30
            timeoutSeconds: 5
          resources:
            limits:
              cpu: 2000m
              memory: 2048Mi
            requests:
              cpu: 100m
              memory: 512Mi
      initContainers:
        - command:
            - istio-iptables
            - -p
            - "15002"
            - -z
            - "15006"
            - -u
            - "1337"
            - -m
            - "REDIRECT"
            - -i
            - "127.1.2.3/32"
            - -x
            - ""
            - -b
            - ""
            - -d
            - "15010,15011"
          env:
            - name: DISABLE_REDIRECTION_ON_LOCAL_LOOPBACK
              value: "1"
          image: "%(istioHub)s/proxy:aa56850ad9a1bc39fc8583dcd4eda1d6720a724d"
          imagePullPolicy: Always
          name: istio-init
          resources:
            limits:
              cpu: 100m
              memory: 50Mi
            requests:
              cpu: 10m
              memory: 10Mi
          securityContext:
            capabilities:
              add:
                - NET_ADMIN
            runAsNonRoot: false
            runAsUser: 0
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
      volumes:
      - name: config-volume
        configMap:
          name: istio
      affinity:      
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: beta.kubernetes.io/arch
                operator: In
                values:
                - "amd64"
                - "ppc64le"
                - "s390x"
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 2
            preference:
              matchExpressions:
              - key: beta.kubernetes.io/arch
                operator: In
                values:
                - "amd64"
          - weight: 2
            preference:
              matchExpressions:
              - key: beta.kubernetes.io/arch
                operator: In
                values:
                - "ppc64le"
          - weight: 2
            preference:
              matchExpressions:
              - key: beta.kubernetes.io/arch
                operator: In
                values:
                - "s390x"
