apiVersion: v1
data:
  prometheus.json: |-
    {
      "global": {
        "scrape_interval": "60s"
      },
      "remote_write": [
        {
          "queue_config": {
            "capacity": 100000
          },
          "url": "http://localhost:8000"
        }
      ],
      "scrape_configs": [
        {
          "bearer_token_file": "/var/run/secrets/kubernetes.io/serviceaccount/token",
          "job_name": "kube_dns_scrape",
          "kubernetes_sd_configs": [
            {
              "namespaces": {
                "names": [
                  "kube-system"
                ]
              },
              "role": "pod"
            }
          ],
          "relabel_configs": [
            {
              "action": "keep",
              "regex": "kube-dns-.*;kubedns;10055",
              "source_labels": [
                "__meta_kubernetes_pod_name",
                "__meta_kubernetes_pod_container_name",
                "__meta_kubernetes_pod_container_port_number"
              ]
            },
            {
              "replacement": "kubedns",
              "target_label": "subservice"
            },
            {
              "replacement": "iad",
              "target_label": "datacenter"
            },
            {
              "replacement": "iad-flowsnake_prod",
              "target_label": "estate"
            },
            {
              "source_labels": [
                "__meta_kubernetes_pod_node_name"
              ],
              "target_label": "device"
            }
          ],
          "tls_config": {
            "ca_file": "/var/run/secrets/kubernetes.io/serviceaccount/ca.crt"
          }
        },
        {
          "bearer_token_file": "/var/run/secrets/kubernetes.io/serviceaccount/token",
          "job_name": "spark-op-metrics",
          "kubernetes_sd_configs": [
            {
              "role": "pod"
            }
          ],
          "relabel_configs": [
            {
              "action": "keep",
              "regex": "spark-operator;10254",
              "source_labels": [
                "__meta_kubernetes_pod_container_name",
                "__meta_kubernetes_pod_container_port_number"
              ]
            },
            {
              "replacement": "spark-operator",
              "target_label": "subservice"
            },
            {
              "replacement": "iad",
              "target_label": "datacenter"
            },
            {
              "replacement": "iad-flowsnake_prod",
              "target_label": "estate"
            },
            {
              "source_labels": [
                "__meta_kubernetes_pod_node_name"
              ],
              "target_label": "device"
            }
          ],
          "scrape_interval": "60s",
          "tls_config": {
            "ca_file": "/var/run/secrets/kubernetes.io/serviceaccount/ca.crt"
          }
        },
        {
          "bearer_token_file": "/var/run/secrets/kubernetes.io/serviceaccount/token",
          "job_name": "prometheus_metrics",
          "kubernetes_sd_configs": [
            {
              "namespaces": {
                "names": [
                  "flowsnake"
                ]
              },
              "role": "pod"
            }
          ],
          "relabel_configs": [
            {
              "action": "keep",
              "regex": "PrometheusScraper;prometheus",
              "source_labels": [
                "__meta_kubernetes_pod_label_flowsnakeRole",
                "__meta_kubernetes_pod_container_name"
              ]
            },
            {
              "replacement": "prometheus",
              "target_label": "subservice"
            },
            {
              "replacement": "iad",
              "target_label": "datacenter"
            },
            {
              "replacement": "iad-flowsnake_prod",
              "target_label": "estate"
            },
            {
              "source_labels": [
                "__meta_kubernetes_pod_node_name"
              ],
              "target_label": "device"
            }
          ],
          "scrape_interval": "60s",
          "tls_config": {
            "ca_file": "/var/run/secrets/kubernetes.io/serviceaccount/ca.crt"
          }
        },
        {
          "bearer_token_file": "/var/run/secrets/kubernetes.io/serviceaccount/token",
          "job_name": "kube_state_metrics",
          "kubernetes_sd_configs": [
            {
              "namespaces": {
                "names": [
                  "kube-system"
                ]
              },
              "role": "pod"
            }
          ],
          "metric_relabel_configs": [
            {
              "action": "labeldrop",
              "regex": "instance"
            },
            {
              "source_labels": [
                "pod"
              ],
              "target_label": "pod_name"
            },
            {
              "action": "labeldrop",
              "regex": "pod"
            },
            {
              "source_labels": [
                "node"
              ],
              "target_label": "device"
            },
            {
              "action": "labeldrop",
              "regex": "node"
            },
            {
              "source_labels": [
                "service"
              ],
              "target_label": "spark_service"
            },
            {
              "action": "labeldrop",
              "regex": "service"
            }
          ],
          "relabel_configs": [
            {
              "action": "keep",
              "regex": "kube-state-metrics;8080",
              "source_labels": [
                "__meta_kubernetes_pod_container_name",
                "__meta_kubernetes_pod_container_port_number"
              ]
            }
          ],
          "scrape_interval": "60s",
          "tls_config": {
            "ca_file": "/var/run/secrets/kubernetes.io/serviceaccount/ca.crt"
          }
        },
        {
          "job_name": "etcd",
          "scheme": "https",
          "static_configs": [
            {
              "targets": [
                "shared0-flowsnakemasterprod1-1-iad.ops.sfdc.net:2379",
                "shared0-flowsnakemasterprod1-2-iad.ops.sfdc.net:2379",
                "shared0-flowsnakemasterprod1-3-iad.ops.sfdc.net:2379",
                "shared0-flowsnakemasterprod1-4-iad.ops.sfdc.net:2379",
                "shared0-flowsnakemasterprod1-5-iad.ops.sfdc.net:2379"
              ]
            }
          ],
          "tls_config": {
            "ca_file": "/certs/ca/cabundle.pem",
            "cert_file": "/certs/client/certificates/client.pem",
            "key_file": "/certs/client/keys/client-key.pem"
          }
        },
        {
          "job_name": "kubernetes-apiserver",
          "scheme": "https",
          "static_configs": [
            {
              "targets": [
                "shared0-flowsnakemasterprod1-1-iad.ops.sfdc.net:6443",
                "shared0-flowsnakemasterprod1-2-iad.ops.sfdc.net:6443",
                "shared0-flowsnakemasterprod1-3-iad.ops.sfdc.net:6443",
                "shared0-flowsnakemasterprod1-4-iad.ops.sfdc.net:6443",
                "shared0-flowsnakemasterprod1-5-iad.ops.sfdc.net:6443"
              ]
            }
          ],
          "tls_config": {
            "ca_file": "/etc/pki_service/kubernetes/k8s-client/certificates/k8s-client.pem",
            "cert_file": "/etc/pki_service/kubernetes/k8s-client/certificates/k8s-client.pem",
            "key_file": "/etc/pki_service/kubernetes/k8s-client/keys/k8s-client-key.pem"
          }
        }
      ]
    }
kind: ConfigMap
metadata:
  creationTimestamp: null
  labels:
    name: prometheus-server-conf
  name: prometheus-server-conf
  namespace: flowsnake
